<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/display" method="post" >
        <label for="email">EMAIL</label>
        <input type="email" name="email" placeholder="enter email">
        <label for="passwd">PASSWORD</label>
        <input type="password" name="passwd" placeholder="enter password">
        <input type="submit" value="SUBMIT">

        <a href="{{url_for('display')}}">hfdsk</a>
    </form>
</body>
</html>