<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>¸
    <form action="/submit" method="get" autocomplete="on">
        <div>
            <img src="{{ url_for('static', filename='your_logo.png') }}" alt="Your Logo" style="max-width: 100%; height: auto; margin-bottom: 20px;background-color: white;">
            <label for="nod">DRIVER NAME</label>
            <select id="nod" name="nameofdriver">
                <option value="murali">MURALI</option>
                <option value="keshava">KESHAVA</option>
            </select><br>
            <label for="VN">VEHICLE NO</label>
            <select id="VN" name="vehicle_number">
                <option value="ap09">AP09</option>
                <option value="ap08">AP08</option>
            </select><br>
            <label for="date" name="date" value="date_and_time">DATE AND TIME</label>
            <input name="date" type="datetime-local" value="date"><br>
            <input type="number" name="s_km" value="starting_km" placeholder="starting_km"><br>
            <input type="number" name="e_km" value="ending_km" placeholder="ending_km">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
